name: build

on:
  push:
    branches:
      - master
      - stable
    tags:
      - "v*"
      - "!*-fdroid"
      - "!*-armv7a"
  pull_request:
    paths-ignore:
      - "apps/ios"
      - "apps/multiplatform"
      - "blog"
      - "docs"
      - "fastlane"
      - "images"
      - "packages"
      - "website"
      - "README.md"
      - "PRIVACY.md"

# This workflow uses custom actions (prepare-build and prepare-release) defined in:
# 
# .github/actions/
# ├── prepare-build
# │   └── action.yml
# └── prepare-release
#     └── action.yml

# Important!
# Do not use always(), it makes build unskippable.
# See: https://github.com/actions/runner/issues/1846#issuecomment-1246102753

jobs:

# =============================
#       Global variables
# =============================

# That is the only and less hacky way to setup global variables
# to use in strategy matrix (env:/YAML anchors doesn't work).
# See: https://github.com/orgs/community/discussions/56787#discussioncomment-6041789
#      https://github.com/actions/runner/issues/1182
#      https://stackoverflow.com/a/77549656

# =========================
#   NodeJS libs release
# =========================

# Downloads Desktop builds, extracts and archives libraries for NodeJS addon.
# Depends on Linux/MacOS, executes only on release.

# Secrets:
# -------
# NODEJS_REPO_TOKEN
#  Only select repositories: simplex-chat-libs 
#  Permissions:
#   * Contents (Read and Write)

  release-nodejs-libs:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v') && (!cancelled())
    steps:
      - name: Checkout current repository
        uses: actions/checkout@v6

      - name: Install packages for archiving
        run: sudo apt install -y msitools gcc-mingw-w64

      - name: Build archives
        run: |
          INIT_DIR='${{ runner.temp }}/artifacts'
          RELEASE_DIR='${{ runner.temp }}/release-assets'
          TAG='v6.5.0-beta.4'
          URL='https://github.com/simplex-chat/simplex-chat/releases/download'
          PREFIX='${{ github.event.repository.name }}-libs'
          # Windows-specific
          FILE_URL='https://raw.githubusercontent.com/simplex-chat/simplex-chat/refs/tags/v6.5.0-beta.4'

          # Setup directories
          mkdir "$INIT_DIR" "$RELEASE_DIR" && cd "$INIT_DIR"

          # Downlaod desktop release
          curl --proto '=https' --tlsv1.2 -sSf -L "${URL}/${TAG}/simplex-desktop-ubuntu-22_04-x86_64.deb" -o linux.deb
          curl --proto '=https' --tlsv1.2 -sSf -L "${URL}/${TAG}/simplex-desktop-macos-aarch64.dmg" -o macos-aarch64.dmg
          curl --proto '=https' --tlsv1.2 -sSf -L "${URL}/${TAG}/simplex-desktop-macos-x86_64.dmg" -o macos-x86_64.dmg
          curl --proto '=https' --tlsv1.2 -sSf -L "${URL}/${TAG}/simplex-desktop-windows-x86_64.msi" -o windows-x86_64.msi

          # Linux
          # -----
          # Extract libraries
          dpkg-deb -R linux.deb linux-out/ && cd linux-out/opt/simplex/lib/app/resources
          # Preprare directory
          mkdir libs && cp *.so libs/
          # Archive
          zip -r "${PREFIX}-linux-x86_64.zip" libs
          # Back to original dir
          mv "${PREFIX}-linux-x86_64.zip" "$RELEASE_DIR" && cd "$INIT_DIR"

          # MacOS: aarch64
          # --------------
          7z x macos-aarch64.dmg -omacos1-out/ && cd macos1-out/SimpleX/SimpleX.app/Contents/app/resources/
          mkdir libs && cp *.dylib libs/
          zip -r "${PREFIX}-macos-aarch64.zip" libs
          mv "${PREFIX}-macos-aarch64.zip" "$RELEASE_DIR" && cd "$INIT_DIR"

          # Macos: x86_64
          # -------------
          7z x macos-x86_64.dmg -omacos2-out/ && cd macos2-out/SimpleX/SimpleX.app/Contents/app/resources/
          mkdir libs && cp *.dylib libs/
          zip -r "${PREFIX}-macos-x86_64.zip" libs
          mv "${PREFIX}-macos-x86_64.zip" "$RELEASE_DIR" && cd "$INIT_DIR"

          # Windows: x86_64
          # ---------------
          msiextract windows-x86_64.msi -C windows-out && cd windows-out/SimpleX/app/resources

          # We need to generate library that exports symbols from Windows dll
          curl -LO "${FILE_URL}/libsimplex.dll.def"
          x86_64-w64-mingw32-dlltool -d libsimplex.dll.def -l libsimplex.lib -D libsimplex.dll

          mkdir libs && cp *.dll *.lib libs/
          zip -r "${PREFIX}-windows-x86_64.zip" libs
          mv "${PREFIX}-windows-x86_64.zip" "$RELEASE_DIR" && cd "$INIT_DIR"

      - name: Create release in libs repo and upload artifacts
        uses: softprops/action-gh-release@v2
        with:
          repository: ${{ github.repository }}-libs
          tag_name: ${{ github.ref_name }}
          files: ${{ runner.temp }}/release-assets/*
          token: ${{ secrets.NODEJS_REPO_TOKEN }}
